# Dependencies
/node_modules

# Configs
/commitlint.config.js
/jest.*.ts
/Dockerfile

# Caches
/.eslintcache
/.vscode

# Testings
/coverage

# Builds
/build

# Miscellaneous
/.DS_Store
/.env
/.env.*
/.npmrc
/package-lock.json

# Logs
/*-error.log
/*-debug.log

# Types

# Ignores
/.dockerignore
/.prettierignore
/.eslintignore
