node_modules

Dockerfile
*.config.js
*.config.ts
*.html

.eslintcache
.vscode

build
dist

.DS_Store
.env
.env.*
.npmrc
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

sample.*.txt

*-lock.json
*-lock.yaml
*.lock

logs
*.log
*-debug.log*
*-error.log*

.dockerignore
.prettierignore
.eslintignore
