# Dependencies
node_modules

# Configs
Dockerfile
jest.*.ts
*.config.js
*.config.ts
*.html

# Caches
.eslintcache
.vscode

# Testings
coverage

# Builds
build
dist

# Miscellaneous
.DS_Store
.env
.env.*
.npmrc
*-lock.json
*-lock.yaml
*.lock
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
*-debug.log*
*-error.log*

# Types

# Ignores
.dockerignore
.prettierignore
.eslintignore
