node_modules

.eslintcache

build
dist

.DS_Store
.env
.env.*
.env-encoded
.npmrc
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.pnpm-store

*-lock.json
*-lock.yaml
*.lock

logs
*.log
*-debug.log*
*-error.log*
