node_modules

.eslintcache
.pnpm-store

build
dist

.DS_Store
.env
.env.*
.env-encoded
.npmrc
*.tsbuildinfo

!**.example

# Comment out the lock file based on your package manager
*-lock.json
# *-lock.yaml
*.lock

logs
*.log
*-debug.log*
*-error.log*
