# Dependencies
/node_modules

# Configs

# Caches
/.eslintcache
/.vscode

# Testings
/coverage

# Builds
/build

# Miscellaneous
/.DS_Store
/.env
/.env.development
/.env.test
/.env.production
/package-lock.json

# Logs
/*-error.log
/*-debug.log

# Types

# Ignores
